/*demo styles for xZoom*/
.container { padding: 15px; }
section { padding-top: 20px; }
.padding-top0 { padding-top: 0px !important; }
p { margin-top: 10px; }
.line { padding-top: 10px; padding-bottom: 10px; }
.green { color: green !important; }